<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Serial No</th>
                                    <th>Role Name</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Client
            </div>
            <div class="card-body">
             card body
            </div>
        </div>
    </div>
</div>
