<div class="row">
    <div class="col-4">
        <ul>
            <li *ngFor="let item of roleList">
                {{item.role}}
            </li>
        </ul>
    </div>
    <div class="col-4">
        <select >
            <option *ngFor="let item of roleList" [value]="item.roleId" >
                {{item.role}}
            </option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <button class="btn btn-warning mx-2" *ngFor="let item of roleList">
            {{item.role}}
        </button>
    </div>
</div>