<div class="row">

    @if(isLoader){
        <div class="col-12 text-center mt-3">
            <div class="spinner-grow text-muted mx-4"></div>
            <div class="spinner-grow text-muted mx-4"></div>
            <div class="spinner-grow text-muted mx-4"></div>
       
         
        </div>
    } @else {
        @for (item of designationList; track $index) {
            <div class="col-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">{{item.designation}}></h4>
                        <a href="#" class="card-link">Edit</a>
                        <a href="#" class="card-link">Delete</a>
                    </div>
                </div>
            </div>
        }
    }
       
</div>
